<div class='formContainer'>
	<div class='form-heading'>Find Offers</div>
	<form action="	#" method="get" accept-charset="utf-8" class="simple_form form-horizontal" id='offerForm'>
		<div class="form-group">
			<label>uid</label> : <span><input class="form-control" type="text" name="offers[uid]" value="" placeholder="Enter your unique id"></span>
		</div>
		<div class="form-group">
			<label>pub0</label> : <span><input class="form-control" type="text" name="offers[pub0]" value="" placeholder="Enter the search keyword"></span>
		</div>
		<div class="form-group">
			<label>page</label> : <span><input class="form-control" type="number" name="offers[page]" value="" placeholder="Enter the page number"></span>
		</div>
		<div >
			<button name="" value="Submit" class="btn btn-primary btn-success" id='formSubmit'>Submit</button>
		</div>
	</form>
</div>