<div class="container" >
	<%=	render 'form' %>
	<div id='offerContent'><span class='heading'>Results:</span>
		<div id='results'></div>
	</div>
</div>
<script type="text/javascript">
	Fyber.prototype.init();
</script>